.DS_Store

# Environment files
.env
.env.example
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Next.js build artifacts
VoiceBridge-Website/.next
VoiceBridge-Website/.next.*
VoiceBridge-Website/node_modules
VoiceBridge-Website/node_modules.*
VoiceBridge-Website/.gitignore
